@model List<EventoModel>
@{
    ViewData["Title"] = "Lista de Itens";
}

<style>
    table {
        width: 100% !important;
    }
</style>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-light ml-2 mt-2" role="button" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
<br />

<div class="container">
    @if (TempData["MensagemSucesso"] != null)
    {<div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {<div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    }
</div>


<div class="text-center container">
    <div class="text-center">
        <img style="" src="~/Image/calendario_1.gif" width="150px" class="" alt="">
    </div>
    <br />
    <h2>Lista de Eventos</h2>
    <br />

    <table class="table table-bordered table-striped container" id="table-eventos">
        <thead>
            <tr>
                <th scope="col" style="display:none">Id</th>
                <th scope="col">Nome do Evento</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EventoModel evento in Model)
                {
                    <tr>
                        <th scope="row" style="display:none">@evento.Id</th>
                        <td>@evento.NomeEvento </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success" onclick="modalDetalhes(@evento.Id)">Detalhes</a>
                            </div>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
</div>


<div id="modalDetalhes">
    <div class="modal fade" id="modal-detalhes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-editar-evento">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes</h4>
                    <br />
                </div>

                <div class="row mt-2">
                    <div style="display: none">
                        <label for="txtId">Id: </label>
                        <span id="txtId"></span>
                    </div>
                    <div>
                        <label for="txtNome">Nome: </label>
                        <span id="txtNome"></span>
                    </div>
                    <div>
                        <label for="txtOrganizador">Organizador: </label>
                        <span id="txtOrganizador"></span>
                    </div>
                    <div>
                        <label for="txtDescricao">Descrição: </label>
                        <span id="txtDescricao"></span>
                    </div>
                    <div>
                        <label for="txtDataRealizacao">Data Realização: </label>
                        <span id="txtDataRealizacao"></span>
                    </div>

                    <hr />

                    <div class="form-group col-sm-8" style="text-align:center">
                        <select id="id_item_evento" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success" id="btn-confirmar-participacao" onclick="salvarEscolha()">Participar</button>
                    </div>

                </div>

                <hr />

                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row container">
                        <div class="box">
                            <div class="box-header">

                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <div id="list_header">
                                    <div id="msgError" class="alert alert-danger alert-dismissable" style="display: none;">
                                        <i class="fa fa-ban"></i>
                                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                        <b>Erro</b>
                                        <span id="erroMsg"></span>
                                    </div>
                                </div>

                                <table id="list_items_escolhas" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Participante</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Item</th>
                                            <th>Participante</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalapagar">
    <div class="modal fade" id="modal-apagar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Exclusão</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row">
                        Tem certeza que deseja remover a participação?
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="bottonExcluir" role="button" class="btn btn-danger">Excluir</a>
                    <button type="button" class="btn btn-light" title="fecharApagar" id="fecharApagar" onclick="modalFecharApagar()">Não</button>

                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        //$('#btn-confirmar-exclusao').on('click', exclusao);
        //listar();
    });


    function listarEscolhas(id_evento) {
        $('#list_items_escolhas').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("EscolhaItensPagination", "Eventos")?id_evento=${id_evento}`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome_item' },
                { 'mData': 'nome_usuario' },
                { 'mData': 'excluir' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
                }
        });
    }

    function modalDetalhes(id_evento) {
        BuscarItensEvento(id_evento);
        BuscarDadosEvento(id_evento);
        listarEscolhas(id_evento);
        $('#btn-confirmar-participacao').attr('id-target', id_evento);
        $('#modal-detalhes').modal('show');
    }

    function BuscarDadosEvento(id_evento) {
        $.ajax({
            type: 'POST',
            data: {
                'id_evento': id_evento,
            },
            url: '@Url.Action("BuscarDadosEvento", "Eventos")',
            success: function (result) {
                if (result.is_action) {
                    $('#txtId').html(result.dados.id);
                    $('#txtNome').html(result.dados.nomeEvento);
                    $('#txtOrganizador').html(result.dados.organizador);
                    $('#txtDescricao').html(result.dados.descricao);
                    $('#txtDataRealizacao').html(result.dados.dataEvento);

                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function BuscarItensEvento(id_evento) {
        $.ajax({
            type: 'POST',
            data: {
                'id_evento': id_evento,
            },
            url: '@Url.Action("Buscar", "Eventos")',
            success: function (result) {
                if (result.is_action) {
                    let html = "";

                    for (let i = 0; i < result.itens.length; i++) {
                        let item = result.itens[i];
                        html += `<option value="${item.id}">${item.nome}</option>`;
                    }

                    $('#id_item_evento').html(html);
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function salvarEscolha() {
        let id_evento = $('#btn-confirmar-participacao').attr('id-target');
        let id_item_evento = $('#id_item_evento').val();

        $.ajax({
            type: 'POST',
            data: {
                'id_evento': id_evento,
                'id_item': id_item_evento
            },
            url: '@Url.Action("SalvarEscolha", "Eventos")',
            success: function (result) {
                if (result.is_action) {
                    listarEscolhas(result.id_evento);
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function modalApagar(Id) {
        $('#bottonExcluir').attr('href', `@Url.Action("ApagarParticipacao", "Eventos")?id=${Id}`);
        $('#modal-apagar').modal('show');
    }

    function modalFecharApagar() {
        $('#modal-apagar').modal('hide');
    }

</script>