@model List<Usuarios>
@{
    ViewData["Title"] = "Listagem de Aniversariantes";
}

<style>
    body {
        overflow: hidden;
    }

    #container-tables {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2.5rem;
    }

   
</style>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    @if (@ViewBag.Perfil == app_cadastro.Enums.PerfilEnum.Dev || @ViewBag.Perfil == app_cadastro.Enums.PerfilEnum.AdminAniversariantes)
    {
        <a class="btn btn-warning ms-2 ml-2 mt-2" role="button" asp-controller="Aniversariantes" asp-action="Criar">Adicionar</a>
    }
        <a class="btn btn-light ml-2 mt-2" role="button" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

<div class="row mt-5">
    <div class="container col-sm-10">
        @if (TempData["MensagemSucesso"] != null)
        {<div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
                @TempData["MensagemSucesso"]
            </div>
        }

        @if (TempData["MensagemErro"] != null)
        {<div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
                @TempData["MensagemErro"]
            </div>
        }
    </div>

    <div class="text-center">
        <img style="" src="~/Image/bolo.gif" width="150px" class="" alt="">
    </div>

    <div id="container-tables">

        <div class="width100">
            <div class="">
                <h2>Aniversariantes</h2>
                <br />

                <table class="table table-bordered table-striped" id="table-aniversariantes">
                    <thead>
                        <tr>
                            <th scope="col" style="display:none">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Aniversário</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (Usuarios contato in Model)
                            {
                                <tr>
                                    <th scope="row" style="display:none">@contato.Id</th>
                                    <td>@contato.Nome</td>
                                    <td>@contato.Aniversario.ToString("dd/MM")</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="">
            <div class="">
                <div class="box-header">
                    <h2 class="box-title">Lista</h2>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div id="list_header">
                        <div id="msgError" class="alert alert-danger alert-dismissable" style="display: none;">
                            <i class="fa fa-ban"></i>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            <b>Erro</b>
                            <span id="erroMsg"></span>
                        </div>
                    </div>

                    <table id="list_items" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</div>

<div id="modalDetalhes">
    <div class="modal fade" id="modal-detalhes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes</h4>
                    <br />
                </div>

                <div class="row mt-2">
                    <div style="display: none">
                    <label for="txtId">Id: </label>
                    <span id="txtId"></span>
                    </div>
                    <div>
                        <label for="txtNome">Nome: </label>
                        <span id="txtNome"></span>
                    </div>
                    <div>
                        <label for="txtDescricao">Descrição: </label>
                        <span id="txtDescricao"></span>
                    </div>
                    <div>
                        <label for="txtDataRealizacao">Data de Realização: </label>
                        <span id="txtDataRealizacao"></span>
                    </div>

                    <hr />

                    <div class="form-group col-sm-8 style="text-align: center"">
                        @*<label>Itens:</label>*@
                        <select  id="id_item" class="form-control">
                            @foreach (var item in @ViewBag.Itens)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="btn-escolha" class="btn btn-success" onclick="salvarEscolha();">Escolher</button>
                    </div>
                    <hr />

                </div>


                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row container">
                        <div class="box">
                            <div class="box-header">

                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <div id="list_header">
                                    <div id="msgError" class="alert alert-danger alert-dismissable" style="display: none;">
                                        <i class="fa fa-ban"></i>
                                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                        <b>Erro</b>
                                        <span id="erroMsg"></span>
                                    </div>
                                </div>

                                <table id="list_items_escolhas" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Participante</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Item</th>
                                            <th>Participante</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalExclusao" style="text-align:center">
    <div class="modal fade" id="modal-exclusao" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Exclusão</h4>

                </div>
                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row">
                        Tem certeza que deseja excluir lista de aniversariantes?
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirmar-exclusao" class="btn btn-danger pull-right">Excluir</button>
                    <button type="button" class="btn btn-secondary pull-left" onclick="fecharModal();">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalapagar">
    <div class="modal fade" id="modal-apagar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Exclusão</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row">
                        Tem certeza que deseja remover a participação?
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="bottonExcluir" role="button" class="btn btn-danger">Excluir</a>
                    <button type="button" class="btn btn-light" title="fecharApagar" id="fecharApagar" onclick="modalFecharApagar()">Não</button>

                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-confirmar-exclusao').on('click', exclusao);
        listar();
    });

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': "@Url.Action("AniversariantesDoMesPagination", "Aniversariantes")",
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'ide_aniversariantes' },
                { 'mData': 'nome' },
                { 'mData': 'detalhes' },
                { 'mData': 'editar' },
                { 'mData': 'excluir' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
                }
        });
    }

    function listarEscolhas(ide_aniversariantes) {
        $('#list_items_escolhas').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("EscolhaItensPagination", "Aniversariantes")?ide_aniversario=${ide_aniversariantes}`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome_item' },
                { 'mData': 'nome_usuario' },
                { 'mData': 'excluir' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
                }
        });
    }

    function modalExclusao(ide_aniversariantes) {
        $('#modal-exclusao').modal('show');
        $('#btn-confirmar-exclusao').attr('id-target', ide_aniversariantes);
    }

    function modalDetalhes(ide_aniversariantes) {
        BuscarDadosAniversariantes(ide_aniversariantes);
        listarEscolhas(ide_aniversariantes);
        $('#modal-detalhes').modal('show');
        $('#btn-confirmar-detalhes').attr('id-target', ide_aniversariantes);
        $('#btn-escolha').attr('id-target', ide_aniversariantes);
    }

    function exclusao() {
        let ide_aniversariantes = $('#btn-confirmar-exclusao').attr('id-target');

        $.ajax({
            type: 'POST',
            data: {
                'ide_aniversariantes': ide_aniversariantes,
            },
            url: '@Url.Action("ExcluirAniversariantes", "Aniversariantes")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Exclusão efetuada com sucesso!!!');
                    $('#modal-exclusao').modal('hide');
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function salvarEscolha() {
        let ide_aniversariantes = $('#btn-escolha').attr('id-target');
        let id_item = $('#id_item').val();

        $.ajax({
            type: 'POST',
            data: {
                'ide_aniversariantes': ide_aniversariantes,
                'id_item': id_item
            },
            url: '@Url.Action("SalvarEscolha", "Aniversariantes")',
            success: function (result) {
                if (result.is_action) {
                    listarEscolhas(result.ide_aniversariantes);
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function BuscarDadosAniversariantes(ide_aniversariantes) {
        $.ajax({
            type: 'POST',
            data: {
                'ide_aniversariantes': ide_aniversariantes,
            },
            url: '@Url.Action("BuscarDadosAniversariantes", "Aniversariantes")',
            success: function (result) {
                if (result.is_action) {
                    $('#txtNome').html(result.dados.nome);
                    $('#txtDescricao').html(result.dados.descricao);
                    $('#txtDataRealizacao').html(result.dados.dataRealizacao);
                    $('#txtId').html(result.dados.id);
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function fecharModal() {
        $('#modal-detalhes').modal('hide');
        $('#modal-exclusao').modal('hide');
    }

    function modalApagar(Id) {
        $('#bottonExcluir').attr('href', `@Url.Action("ApagarParticipacao", "Aniversariantes")?id=${Id}`);
        $('#modal-apagar').modal('show');
    }

    function modalFecharApagar() {
        $('#modal-apagar').modal('hide');
    }
</script>

