@using app_cadastro.Enums;
@model Usuarios
@{
    ViewData["Title"] = "Cadastrar Usuário";

}


<div class="text-center mt-3">
    <h3>Cadastrar Usuário</h3>

</div>

<div class="container col-sm-10">
    @if (TempData["MensagemSucesso"] != null)
    {<div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {<div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div id="overlay" class="overlay container">
    <form class="row" asp-controller="Registrar" asp-action="Criar" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group col-sm-6">
            <label>Nome Completo*</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Jose da Silva Santos">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>

        <div class="form-group col-sm-6">
            <label>Email*</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Ex: jose@email.com.br">
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group col-sm-6">
            <label>Celular*</label>
            <input type="text" asp-for="Celular" class="form-control" maxlength="11" placeholder="Ex: 71999998888">
            @Html.ValidationMessageFor(x => x.Celular)
        </div>

        <div class="form-group col-sm-6">
            <label>Aniversário</label>
            <input type="date" asp-for="Aniversario" class="form-control">
        </div>

        <div class="form-group col-sm-6">
            <label for="nome" class="form-label">Perfil*</label>
            <select asp-for="Perfil" class="form-control">
                @if (@ViewBag.Perfil == app_cadastro.Enums.PerfilEnum.Dev)
                {
                    <option value="@PerfilEnum.Dev">Desenvolvedor</option>
                }
                <option value="@PerfilEnum.Padrao">Padrão</option>
                <option value="@PerfilEnum.AdminAniversariantes">Administrador Aniversariantes</option>
                <option value="@PerfilEnum.AdminCafe">Administrador Vaquinha Café</option>
            </select>
            @Html.ValidationMessageFor(x => x.Perfil)
        </div>
        <div class="form-group col-sm-6">
            <label for="nome" class="form-label">Setor*</label>
            <select asp-for="Setor" class="form-control">
                <option value="@SetorEnum.Atendimento">Atendimento</option>
                <option value="@SetorEnum.EGP">EGP</option>
                <option value="@SetorEnum.InfraEstrutura">Infraestrutura</option>
                <option value="@SetorEnum.PlataformaAlta">Plataforma Alta</option>
                <option value="@SetorEnum.PlataformaBaixa">Plataforma Baixa</option>
                <option value="@SetorEnum.Requisitos">Requisitos</option>
                <option value="@SetorEnum.Suporte">Suporte</option>
            </select>
        </div>

        <div class="btn-group col-sm-2" role="group">
            <a class="btn btn-light" role="button" asp-controller="Registrar" asp-action="PaginaAdm">Voltar</a>
            <button type="submit" class="btn btn-warning ms-2">Cadastrar</button>
        </div>
    </form>
</div>
